spring:
  application:
    name: retailpro-pos-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/pos_db
    username: postgres
    password: Anu200439
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080
  servlet:
    context-path: /api
    session:
      timeout: 30m

logging:
  level:
    com.retailpro: DEBUG
    org.springframework.security: DEBUG